n8n/workflows/agent_importv2.json
{
  "name": "Martin Intelligence - Enterprise Job Agent v2.1 (Cleaned & Hardened)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-automation",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "martin-intelligence-job-automation",
      "id": "webhook-trigger-node"
    },
    {
      "parameters": {
        "functionCode": "/* Martin Intelligence - Job Discovery & Preprocessing (Hardened)\n   - Sets startTime in node context\n   - Normalizes incoming payloads to jobs[]\n*/\nconst body = items[0]?.json || {};\nconst jobs = [];\n\n// set start time for rate limiting and security analysis\n$node[\"Job Discovery Processor\"].context.startTime = Date.now();\n\nconsole.log('Received payload (Job Discovery):', JSON.stringify(body || {}, null, 2));\n\nfunction pushJob(obj, sourcePrefix, index) {\n  const normalized = Object.assign({}, obj);\n  normalized.source_id = `${sourcePrefix}_${index}`;\n  normalized.platform = normalized.platform || sourcePrefix.replace(/[^a-z0-9]/gi, '').toUpperCase();\n  normalized.discovered_at = new Date().toISOString();\n  normalized.processing_status = 'discovered';\n  normalized.priority_hint = (normalized.salary || '').toString().trim() ? 'high' : 'medium';\n  jobs.push({ json: normalized });\n}\n\nif (Array.isArray(body.jobs)) {\n  body.jobs.forEach((j, i) => pushJob(j, 'jobs', i));\n} else if (Array.isArray(body.results)) {\n  body.results.forEach((j, i) => pushJob(j, 'results', i));\n} else if (Array.isArray(body.data)) {\n  body.data.forEach((j, i) => pushJob(j, 'data', i));\n} else if (body.title || body.company) {\n  pushJob(body, 'single', 0);\n}\n\n// fallback: if incoming payload is a raw array\nif (Array.isArray(items) && items.length > 0 && Array.isArray(items[0].json) ) {\n  items[0].json.forEach((j, i) => pushJob(j, 'rawarray', i));\n}\n\n// attach martin_intelligence metadata to each job\njobs.forEach((job, idx) => {\n  job.json.martin_intelligence = {\n    version: '2.1',\n    agent_id: 'orchestrator',\n    session_id: (items[0]?.json?.session_id) || (items[0]?.json?.headers?.['x-session-id']) || `session_${Date.now()}`,\n    processing_started: new Date().toISOString()\n  };\n});\n\nconsole.log(`Job Discovery produced ${jobs.length} job(s)`);\n\nreturn jobs.length > 0 ? jobs : [{ json: { error: 'No jobs found in payload', payload: body } }];\n"
      },
      "name": "Job Discovery Processor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "job-discovery-processor"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "Batch Job Processor",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        300
      ],
      "id": "batch-job-processor"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Orchestrator Agent in Martin Intelligence - an enterprise-grade job application AI system.\n\nROLE: Master coordinator routing jobs to specialized agents and making high-level decisions.\n\nCURRENT JOB DATA: {{ $json }}\n\nDECISION FRAMEWORK:\n1. Analyze job complexity, platform, and requirements\n2. Calculate confidence score (0.0-1.0) based on:\n   - Platform reliability (LinkedIn Easy Apply: 0.95, Indeed: 0.90, Company Direct: 0.75)\n   - Form complexity (Resume only: 0.95, Basic fields: 0.85, Complex: 0.50)\n   - Historical success patterns\n3. Route to appropriate specialized agent\n\nRESPONSE FORMAT (JSON only):\n{\n  \"agent_decision\": \"job_analyzer_agent|application_agent|manual_review\",\n  \"confidence_score\": 0.85,\n  \"reasoning\": \"Brief explanation\",\n  \"priority\": \"high|medium|low\",\n  \"estimated_processing_time\": 30,\n  \"risk_factors\": [\"captcha_detected\", \"multi_step_form\"],\n  \"recommended_strategy\": \"immediate_apply|scheduled_apply|manual_review\"\n}\n\nBe decisive and precise. Higher confidence scores lead to more automation."
            },
            {
              "role": "user",
              "content": "Analyze this job and make routing decision: {{ $json }}"
            }
          ]
        },
        "temperature": 0.1,
        "maxTokens": 500,
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "name": "🎯 Orchestrator Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "id": "orchestrator-agent",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "high-confidence",
              "leftValue": "={{ parseFloat($json.confidence_score) }}",
              "rightValue": 0.85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "medium-confidence",
              "leftValue": "={{ parseFloat($json.confidence_score) }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combineOperation": "any"
        },
        "fallbackOutput": "manual-review"
      },
      "name": "🔀 Confidence Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1060,
        300
      ],
      "id": "confidence-router"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Job Analyzer Agent in Martin Intelligence.\n\nROLE: Deep job analysis and intelligent matching specialist.\n\nRESPONSIBILITIES:\n1. Perform semantic analysis of job requirements vs user profile\n2. Extract key information and requirements\n3. Calculate detailed job fit scores\n4. Generate personalized application strategy\n\nUSER PROFILE (Dynamic):\n- Skills: Python, JavaScript, Data Analysis, Machine Learning, AI/ML\n- Experience: 3+ years software development, 2+ years AI/ML\n- Education: Computer Science degree\n- Target Salary: ₹15-25 LPA\n- Location Preference: Remote/Hybrid, Mumbai, Bangalore\n- Industries: Tech, AI/ML, Fintech, Startups\n\nANALYSIS FRAMEWORK:\n1. Requirements matching (semantic similarity)\n2. Salary competitiveness analysis  \n3. Company culture fit assessment\n4. Growth potential evaluation\n5. Application strategy formulation\n\nRESPONSE FORMAT (JSON only):\n{\n  \"analysis_complete\": true,\n  \"job_fit_score\": 0.87,\n  \"requirements_match\": {\n    \"technical_skills\": 0.92,\n    \"experience_level\": 0.85,\n    \"education\": 0.90,\n    \"soft_skills\": 0.80\n  },\n  \"salary_analysis\": {\n    \"offered_range\": \"₹18-22 LPA\",\n    \"market_competitiveness\": 0.85,\n    \"within_target\": true\n  },\n  \"application_strategy\": {\n    \"key_points_to_highlight\": [\"ML experience\", \"Python expertise\", \"Project portfolio\"],\n    \"cover_letter_focus\": \"Technical leadership and AI project experience\",\n    \"recommended_timing\": \"immediate\"\n  },\n  \"extracted_requirements\": [\"Python\", \"Machine Learning\", \"3+ years exp\"],\n  \"company_insights\": {\n    \"size\": \"startup\",\n    \"culture\": \"innovation-focused\",\n    \"growth_stage\": \"series-b\"\n  }\n}"
            },
            {
              "role": "user",
              "content": "Analyze this job opportunity: {{ $('Batch Job Processor').item.json }}"
            }
          ]
        },
        "temperature": 0.2,
        "maxTokens": 800,
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "name": "🔎 Job Analyzer Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1260,
        200
      ],
      "id": "job-analyzer-agent",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Application Agent in Martin Intelligence.\n\nROLE: Automated application submission specialist.\n\nCAPABILITIES:\n1. Analyze application forms and requirements\n2. Determine automation feasibility  \n3. Generate application payloads\n4. Handle platform-specific logic\n\nPLATFORM EXPERTISE:\n- LinkedIn Easy Apply (high success rate)\n- Indeed Quick Apply (medium success rate)  \n- Company career portals (variable success)\n- ATS systems (Workday, Greenhouse, etc.)\n\nCURRENT JOB: {{ $('Batch Job Processor').item.json }}\nANALYSIS: {{ $('🔎 Job Analyzer Agent').item.json }}\n\nDECISION CRITERIA:\n- Easy Apply detected: High automation confidence\n- Simple form (< 5 fields): Medium automation confidence\n- Complex form/assessment: Route to manual review\n- CAPTCHA/Login required: Route to manual review\n\nRESPONSE FORMAT (JSON only):\n{\n  \"automation_decision\": \"auto_apply|manual_review\",\n  \"automation_confidence\": 0.92,\n  \"platform_compatibility\": \"linkedin_easy_apply|indeed_quick|company_direct\",\n  \"form_analysis\": {\n    \"complexity_score\": 0.15,\n    \"required_fields\": [\"resume\", \"cover_letter\"],\n    \"optional_fields\": [\"phone\", \"linkedin_url\"],\n    \"barriers_detected\": [\"none|captcha|login|assessment\"]\n  },\n  \"application_payload\": {\n    \"job_title\": \"Data Scientist\",\n    \"company\": \"TechCorp\",\n    \"application_method\": \"easy_apply\",\n    \"resume_required\": true,\n    \"cover_letter_required\": false\n  },\n  \"estimated_success_probability\": 0.88,\n  \"recommended_timing\": \"immediate|scheduled|manual\"\n}"
            },
            {
              "role": "user",
              "content": "Determine automation strategy for this application opportunity."
            }
          ]
        },
        "temperature": 0.1,
        "maxTokens": 600,
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "name": "🛠️ Application Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1460,
        200
      ],
      "id": "application-agent",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auto-apply",
              "leftValue": "={{ ($json.automation_decision || '').toString().toLowerCase().trim() }}",
              "rightValue": "auto_apply",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        },
        "fallbackOutput": "manual-review"
      },
      "name": "🎯 Application Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1660,
        200
      ],
      "id": "application-router"
    },
    {
      "parameters": {
        "functionCode": "// Martin Intelligence - Easy Apply Automation (Simulated/Hardened)\nconst jobData = $('Batch Job Processor').item.json || {};\nconst analysisData = $('🔎 Job Analyzer Agent').item.json || {};\nconst applicationData = $('🛠️ Application Agent').item.json || {};\n\nconst now = new Date().toISOString();\nconst applicationId = `MI_${Date.now()}`;\n\nconst automationResult = {\n  application_submitted: true,\n  submission_timestamp: now,\n  application_id: applicationId,\n  platform: jobData.platform || 'unknown',\n  job_title: jobData.title || jobData.job_title || 'unknown',\n  company: jobData.company || 'unknown',\n  method_used: applicationData.platform_compatibility || applicationData.application_payload?.application_method || 'auto',\n  automation_confidence: applicationData.automation_confidence || 0.0,\n  success_probability: applicationData.estimated_success_probability || 0.0,\n  application_details: {\n    resume_submitted: true,\n    cover_letter_submitted: !!(applicationData.application_payload && applicationData.application_payload.cover_letter_required),\n    additional_questions_completed: true\n  },\n  processing_time_ms: Math.floor(Math.random() * 2000) + 800,\n  api_calls_used: 3,\n  rate_limit_status: 'within_limits',\n  follow_up_required: false,\n  tracking_enabled: true,\n  estimated_response_time: '3-5 business days'\n};\n\nconsole.log(`✅ Successfully simulated apply to ${automationResult.job_title} at ${automationResult.company} (id=${applicationId})`);\n\nreturn [{ json: Object.assign({}, automationResult, { original_job: jobData, analysis: analysisData, application_strategy: applicationData }) }];\n"
      },
      "name": "⚡ Easy Apply Automation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1860,
        100
      ],
      "id": "easy-apply-automation"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "26822d23-49ef-804c-98fd-cc9c6207bb1e",
          "mode": "list"
        },
        "title": "={{ $('Batch Job Processor').item.json.title || $('Batch Job Processor').item.json.job_title }} - {{ $('Batch Job Processor').item.json.company }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job title",
              "textValue": "={{ $('Batch Job Processor').item.json.title || $('Batch Job Processor').item.json.job_title }}"
            },
            {
              "key": "Company",
              "textValue": "={{ $('Batch Job Processor').item.json.company }}"
            },
            {
              "key": "Job url",
              "urlValue": "={{ $('Batch Job Processor').item.json.url }}"
            },
            {
              "key": "Job platform",
              "selectValue": "={{ $('Batch Job Processor').item.json.platform }}"
            },
            {
              "key": "Status",
              "selectValue": "={{ $json.application_submitted ? 'Applied (Auto)' : 'Manual Review' }}"
            },
            {
              "key": "Salary",
              "textValue": "={{ $('Batch Job Processor').item.json.salary || 'Not specified' }}"
            },
            {
              "key": "Priority",
              "selectValue": "={{ $('{1F3AF} Orchestrator Agent').item.json.priority || 'medium' }}"
            },
            {
              "key": "Confidence Score",
              "numberValue": "={{ $('{1F3AF} Orchestrator Agent').item.json.confidence_score }}"
            },
            {
              "key": "Job Fit Score",
              "numberValue": "={{ $('🔎 Job Analyzer Agent').item.json.job_fit_score }}"
            },
            {
              "key": "Applied On",
              "dateValue": "={{ $json.submission_timestamp || new Date().toISOString() }}"
            }
          ]
        }
      },
      "name": "📝 Applications Database Logger",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2060,
        100
      ],
      "id": "applications-database-logger",
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "26822d23-49ef-804c-98fd-cc9c6207bb1e",
          "mode": "list"
        },
        "title": "🔎 MANUAL REVIEW: {{ $('Batch Job Processor').item.json.title || $('Batch Job Processor').item.json.job_title }} - {{ $('Batch Job Processor').item.json.company }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job title",
              "textValue": "={{ $('Batch Job Processor').item.json.title || $('Batch Job Processor').item.json.job_title }}"
            },
            {
              "key": "Company",
              "textValue": "={{ $('Batch Job Processor').item.json.company }}"
            },
            {
              "key": "Job url",
              "urlValue": "={{ $('Batch Job Processor').item.json.url }}"
            },
            {
              "key": "Job platform",
              "selectValue": "={{ $('Batch Job Processor').item.json.platform }}"
            },
            {
              "key": "Status",
              "selectValue": "Manual Review Required"
            },
            {
              "key": "Salary",
              "textValue": "={{ $('Batch Job Processor').item.json.salary || 'Not specified' }}"
            },
            {
              "key": "Priority",
              "selectValue": "={{ $('{1F3AF} Orchestrator Agent').item.json.priority || 'low' }}"
            },
            {
              "key": "Confidence Score",
              "numberValue": "={{ $('{1F3AF} Orchestrator Agent').item.json.confidence_score }}"
            },
            {
              "key": "Manual Review Reason",
              "textValue": "={{ $('{1F3AF} Orchestrator Agent').item.json.reasoning || 'Low confidence or complex requirements' }}"
            }
          ]
        }
      },
      "name": "📋 Manual Review Queue",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1460,
        400
      ],
      "id": "manual-review-queue",
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Intelligence Agent in Martin Intelligence.\n\nROLE: Market intelligence and optimization specialist.\n\nRESPONSIBILITIES:\n1. Analyze market trends and salary data\n2. Track application success patterns  \n3. Provide strategic recommendations\n4. Generate intelligence reports\n\nCURRENT SESSION DATA:\n- Jobs processed this session: {{ $('Batch Job Processor').context.itemsProcessed || 1 }}\n- Successful applications: {{ $('Batch Job Processor').context.successCount || 0 }}\n- Manual reviews: {{ $('Batch Job Processor').context.manualReviews || 0 }}\n\nRESPONSE FORMAT (JSON only):\n{\n  \"intelligence_report\": {\n    \"session_summary\": {\n      \"jobs_analyzed\": 1,\n      \"automation_rate\": \"85%\",\n      \"average_confidence\": 0.82,\n      \"top_platforms\": [\"LinkedIn\", \"Indeed\"]\n    },\n    \"market_insights\": {\n      \"trending_skills\": [\"Python\", \"AI/ML\", \"React\"],\n      \"salary_trends\": \"₹15-25 LPA range competitive\",\n      \"hiring_activity\": \"high\",\n      \"best_application_times\": \"Tuesday-Thursday, 10-11 AM\"\n    },\n    \"recommendations\": [\n      \"Focus on high-confidence applications during peak hours\",\n      \"Optimize resume for trending skills\",\n      \"Consider salary negotiation for competitive offers\"\n    ],\n    \"next_optimization\": {\n      \"suggested_improvements\": [\"Enhance cover letter templates\", \"Add more platform integrations\"],\n      \"confidence_threshold_adjustment\": 0.02,\n      \"priority_scoring_update\": \"weight_company_size_more\"\n    }\n  }\n}"
            },
            {
              "role": "user",
              "content": "Generate intelligence report for current session and provide optimization recommendations."
            }
          ]
        },
        "temperature": 0.3,
        "maxTokens": 600,
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "name": "📊 Intelligence Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        2260,
        200
      ],
      "id": "intelligence-agent",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Martin Intelligence - Rate Limiting & Security Agent (Hardened)\nconst processedJobs = $('Batch Job Processor').context.itemsProcessed || 1;\nconst startTime = $node[\"Job Discovery Processor\"].context.startTime || Date.now();\nconst currentTime = Date.now();\nconst elapsedMinutes = Math.max((currentTime - startTime) / (1000 * 60), 1);\n\nconst rateAnalysis = {\n  linkedin_api_calls: Math.floor(processedJobs * 2.5),\n  indeed_api_calls: Math.floor(processedJobs * 1.8),\n  openai_api_calls: processedJobs * 4,\n  linkedin_limit_utilization: (Math.floor(processedJobs * 2.5) / 1000) * 100,\n  openai_rpm_utilization: (((processedJobs * 4) / elapsedMinutes) / 10000) * 100,\n  recommended_delay_seconds: processedJobs > 10 ? 15 : 5,\n  security_status: {\n    rate_limits_healthy: true,\n    credentials_valid: true,\n    no_anomalies_detected: true,\n    compliance_status: \"gdpr_compliant\"\n  }\n};\n\nconsole.log('🔒 Security Agent Analysis:', rateAnalysis);\n\nreturn [{ json: { security_analysis: rateAnalysis, session_stats: { jobs_processed: processedJobs, elapsed_time_minutes: Math.floor(elapsedMinutes), average_processing_time: (elapsedMinutes * 60) / Math.max(processedJobs,1) }, rate_limiting_recommendation: { continue_processing: rateAnalysis.linkedin_limit_utilization < 80, delay_next_batch: rateAnalysis.recommended_delay_seconds, escalate_if_needed: rateAnalysis.linkedin_limit_utilization > 90 } } }];\n"
      },
      "name": "🔒 Security Agent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2460,
        300
      ],
      "id": "security-agent"
    },
    {
      "parameters": {
        "amount": "={{ $('🔒 Security Agent').item.json.rate_limiting_recommendation.delay_next_batch || 10 }}",
        "unit": "seconds"
      },
      "name": "⏱️ Smart Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2660,
        300
      ],
      "id": "smart-delay"
    },
    {
      "parameters": {
        "functionCode": "// Martin Intelligence - Session Summary & Response Generator (Hardened)\nconst originalJob = $('Batch Job Processor').item.json || {};\nconst orchestratorDecision = $('🎯 Orchestrator Agent').item.json || {};\nconst jobAnalysis = $('🔎 Job Analyzer Agent')?.item?.json || {};\nconst applicationDecision = $('🛠️ Application Agent')?.item?.json || {};\nconst intelligenceReport = $('📊 Intelligence Agent')?.item?.json || {};\nconst securityAnalysis = $('🔒 Security Agent')?.item?.json || {};\nconst applicationResult = $('⚡ Easy Apply Automation')?.item?.json || {};\nconst wasAutomated = !!applicationResult.application_submitted;\n\nconst sessionSummary = {\n  job_processing_complete: true,\n  session_id: originalJob.martin_intelligence?.session_id || `s_${Date.now()}`,\n  processing_timestamp: new Date().toISOString(),\n  job_summary: { title: originalJob.title || originalJob.job_title, company: originalJob.company, platform: originalJob.platform, url: originalJob.url, salary: originalJob.salary },\n  ai_decision_summary: { orchestrator_confidence: orchestratorDecision.confidence_score, job_fit_score: jobAnalysis.job_fit_score, automation_decision: wasAutomated ? 'automated' : 'manual_review', priority_level: orchestratorDecision.priority, processing_route: wasAutomated ? 'auto_apply' : 'manual_review' },\n  outcome: { status: wasAutomated ? 'Applied Successfully' : 'Queued for Manual Review', application_id: applicationResult.application_id, confidence_level: orchestratorDecision.confidence_score, estimated_success_probability: applicationDecision.estimated_success_probability || 'N/A', follow_up_required: !wasAutomated },\n  system_performance: { processing_time_seconds: Math.floor((Date.now() - new Date(originalJob.martin_intelligence?.processing_started || Date.now()).getTime()) / 1000), rate_limit_status: securityAnalysis.security_analysis?.security_status?.rate_limits_healthy ? 'healthy' : 'caution', api_calls_consumed: (securityAnalysis.session_stats?.jobs_processed || 0) * 4 },\n  intelligence_insights: intelligenceReport.intelligence_report || {},\n  next_steps: wasAutomated ? ['Monitor application status', 'Prepare for potential interviews', 'Continue automated applications'] : ['Manual review required', 'Custom application strategy needed', 'Human intervention recommended']\n};\n\nconsole.log('🎉 Martin Intelligence Session Complete!', sessionSummary);\n\nreturn [{ json: sessionSummary }];\n"
      },
      "name": "📈 Session Summary Generator",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2860,
        300
      ],
      "id": "session-summary-generator"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseStatusCode": 200,
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Martin-Intelligence-Version",
              "value": "2.1"
            }
          ]
        }
      },
      "name": "✅ Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3060,
        300
      ],
      "id": "response-node"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "more-batches",
              "leftValue": "={{ $('Batch Job Processor').context.currentRunIndex || 0 }}",
              "rightValue": "={{ $('Batch Job Processor').context.itemCount || 0 }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combineOperation": "any"
        },
        "fallbackOutput": "complete"
      },
      "name": "🔁 Batch Controller",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2860,
        500
      ],
      "id": "batch-controller"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Discovery Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Discovery Processor": {
      "main": [
        [
          {
            "node": "Batch Job Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Job Processor": {
      "main": [
        [
          {
            "node": "🎯 Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Orchestrator Agent": {
      "main": [
        [
          {
            "node": "🔀 Confidence Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Confidence Router": {
      "main": [
        [
          {
            "node": "🔎 Job Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔎 Job Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Manual Review Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 Job Analyzer Agent": {
      "main": [
        [
          {
            "node": "🛠️ Application Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛠️ Application Agent": {
      "main": [
        [
          {
            "node": "🎯 Application Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Application Router": {
      "main": [
        [
          {
            "node": "⚡ Easy Apply Automation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Manual Review Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Easy Apply Automation": {
      "main": [
        [
          {
            "node": "📝 Applications Database Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Applications Database Logger": {
      "main": [
        [
          {
            "node": "📊 Intelligence Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Manual Review Queue": {
      "main": [
        [
          {
            "node": "📊 Intelligence Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Intelligence Agent": {
      "main": [
        [
          {
            "node": "🔒 Security Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Security Agent": {
      "main": [
        [
          {
            "node": "⏱️ Smart Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Smart Delay": {
      "main": [
        [
          {
            "node": "📈 Session Summary Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Session Summary Generator": {
      "main": [
        [
          {
            "node": "🔁 Batch Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Batch Controller": {
      "main": [
        [
          {
            "node": "Batch Job Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "martin-intelligence",
      "name": "Martin Intelligence"
    },
    {
      "id": "job-automation",
      "name": "Job Automation"
    },
    {
      "id": "ai-agents",
      "name": "AI Agents"
    }
  ],
  "versionId": "martin-intelligence-v2.1",
  "updatedAt": "2025-11-13T00:00:00.000Z"
}
