n8n/workflows/ai_nodev3.json
{
  "name": "AI Job Agent v3 - Hybrid (C2) - Unified LLM Gateway",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-automation",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 300]
    },
    {
      "parameters": {
        "functionCode": "const body = items[0]?.json || {};\nconst jobs = [];\n$node[\"Job Discovery Processor\"].context = $node[\"Job Discovery Processor\"].context || {};\n$node[\"Job Discovery Processor\"].context.startTime = Date.now();\nfunction norm(j, i, prefix) {\n  return { json: Object.assign({}, j, { source_id: `${prefix}_${i}`, platform: j.platform || prefix.toUpperCase(), discovered_at: new Date().toISOString(), processing_status: 'discovered' }) };\n}\nif (Array.isArray(body.jobs)) body.jobs.forEach((j,i)=>jobs.push(norm(j,i,'jobs')));\nelse if (Array.isArray(body.results)) body.results.forEach((j,i)=>jobs.push(norm(j,i,'results')));\nelse if (Array.isArray(body.data)) body.data.forEach((j,i)=>jobs.push(norm(j,i,'data')));\nelse if (body.title||body.company) jobs.push(norm(body,0,'single'));\nif (jobs.length===0 && Array.isArray(items[0].json) && items[0].json.length>0) items[0].json.forEach((j,i)=>jobs.push(norm(j,i,'rawarray')));\njobs.forEach(job=>{ job.json.martin_intelligence = { version: 'v3', session_id: (items[0].json?.session_id) || `s_${Date.now()}`, processing_started: new Date().toISOString() }; });\nreturn jobs.length>0?jobs:[{json:{error:'no jobs found', payload: body}}];"
      },
      "name": "Job Discovery Processor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [360, 300]
    },
    {
      "parameters": { "batchSize": 1, "options": { "reset": false } },
      "name": "Batch Job Processor",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [580, 300]
    },

    { "parameters": { "functionCode": "const job = $node['Batch Job Processor'].item.json;\nreturn [{ json: { role: 'orchestrator', agent: 'orchestrator', prompt_payload: { system: `You are the Orchestrator Agent. Produce a high-level routing JSON with fields: automation_decision (auto_apply/manual), priority, confidence_hint, require_analysis (true/false), notes. Output strictly as JSON.` , user: job } } }];" }, "name": "Orchestrator Prompt", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [820, 120] },

    { "parameters": { "functionCode": "const job = $node['Batch Job Processor'].item.json;\nreturn [{ json: { role: 'job_analyzer', agent: 'job_analyzer', prompt_payload: { system: `You are the Job Analyzer. Produce robust job analysis JSON including job_fit_score, required_skills, seniority, suggested_keywords, and recommended_next_steps. Output strict JSON.`, user: job } } }];" }, "name": "Job Analyzer Prompt", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [820, 320] },

    { "parameters": { "functionCode": "const job = $node['Batch Job Processor'].item.json;\nconst analysis = $node['Job Analyzer Result']?.item?.json || {};\nreturn [{ json: { role: 'application_agent', agent: 'application_agent', prompt_payload: { system: `You are the Application Agent. Decide automation and prepare application payload (resume selection, profile fields). Output strict JSON with automation_decision, application_payload, automation_confidence.`, user: { job, analysis } } } }];" }, "name": "Application Prompt", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [820, 520] },

    { "parameters": { "functionCode": "const sessionContext = { processed_job: $node['Batch Job Processor'].context || {}, job: $node['Batch Job Processor'].item.json };\nreturn [{ json: { role: 'intelligence_agent', agent: 'intelligence_agent', prompt_payload: { system: `You are the Intelligence Agent. Produce session-level intelligence and logging JSON.`, user: sessionContext } } }];" }, "name": "Intelligence Prompt", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [820, 720] },

    {
      "parameters": {
        "model": "={{ \"google/gemini-2.0-flash\" }}",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Centralized LLM Gateway: upstream passes a prompt_payload object. YOU MUST RETURN VALID JSON. If unsure return {\"error\": \"explain reason\"}."
            },
            { "role": "user", "content": "={{ JSON.stringify($json.prompt_payload) }}" }
          ]
        },
        "temperature": 0.08,
        "maxTokens": 1200,
        "options": { "responseFormat": { "type": "json_object" } }
      },
      "name": "LLM Gateway Primary (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1080, 420],
      "credentials": { "openAiApi": { "id": "openai-credentials", "name": "openai-credentials" } }
    },

    {
      "parameters": {
        "functionCode": "const out = $node['LLM Gateway Primary (Gemini)'].item?.json || {};\nconst result = { use_fallback: false, reason: 'primary-ok', primary_output: out };\nconst confidence = parseFloat(out.confidence_score || out.confidence || 0);\nif (!out || Object.keys(out).length === 0) { result.use_fallback = true; result.reason = 'empty-output'; }\nif (out.error || out.status === 'error') { result.use_fallback = true; result.reason = 'primary-error'; }\nif (isFinite(confidence) && confidence < 0.35) { result.use_fallback = true; result.reason = 'low-confidence'; }\nreturn [{ json: result }];"
      },
      "name": "Gateway Check Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1320, 420]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [ { "leftValue": "={{ $json.use_fallback }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ],
          "combineOperation": "any",
          "options": {}
        }
      },
      "name": "Gateway Need Fallback?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1540, 420]
    },

    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendBody": true,
        "jsonParameters": true,
        "options": { "timeout": 60000 },
        "bodyParametersJson": "={\n  \"model\": \"meta-llama/llama-4-maverick:free\",\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"Fallback Llama: upstream user content contains prompt_payload JSON. Respond ONLY in strict JSON matching the expected schema or with {\\\"error\\\":...}.\"},\n    {\"role\":\"user\",\"content\": JSON.stringify($json.primary_output?.prompt_payload || $json.prompt_payload || {})}\n  ],\n  \"temperature\": 0.08,\n  \"max_tokens\": 1200\n}"
      },
      "name": "LLM Gateway Fallback (Llama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1760, 420],
      "credentials": { "httpHeaderAuth": { "id": "openai-credentials", "name": "openai-credentials" } }
    },

    {
      "parameters": {
        "functionCode": "const resp = $node['LLM Gateway Fallback (Llama)'].item.json || {};\nlet content = '';\nif (resp.choices && resp.choices[0] && resp.choices[0].message) content = resp.choices[0].message.content;\nelse if (resp.output && resp.output[0] && resp.output[0].content) content = resp.output[0].content[0].text || '';\nelse content = JSON.stringify(resp);\nlet parsed = {};\ntry { parsed = JSON.parse(content); }\ncatch(e) { const m = content.match(/{[\\s\\S]*}/); if (m) try { parsed = JSON.parse(m[0]); } catch(e2) { parsed = { raw_response: content }; } else parsed = { raw_response: content }; }\nreturn [{ json: parsed }];"
      },
      "name": "Gateway Normalize Fallback Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1980, 420]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [ { "leftValue": "={{ $node['Gateway Need Fallback?'].item.json.use_fallback }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ],
          "combineOperation": "any",
          "options": {}
        }
      },
      "name": "Gateway Choose Output",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [2200, 420]
    },

    {
      "parameters": {
        "functionCode": "const res = $node['Gateway Need Fallback?'].item.json.use_fallback ? ($node['Gateway Normalize Fallback Output'].item?.json || {}) : ($node['LLM Gateway Primary (Gemini)'].item?.json || {});\nreturn [{ json: { orchestrator_result: res } }];"
      },
      "name": "Orchestrator Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2480, 120]
    },

    {
      "parameters": {
        "functionCode": "const res = $node['Gateway Need Fallback?'].item.json.use_fallback ? ($node['Gateway Normalize Fallback Output'].item?.json || {}) : ($node['LLM Gateway Primary (Gemini)'].item?.json || {});\nreturn [{ json: { analyzer_result: res } }];"
      },
      "name": "Job Analyzer Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2480, 320]
    },

    {
      "parameters": {
        "functionCode": "const res = $node['Gateway Need Fallback?'].item.json.use_fallback ? ($node['Gateway Normalize Fallback Output'].item?.json || {}) : ($node['LLM Gateway Primary (Gemini)'].item?.json || {});\nreturn [{ json: { application_result: res } }];"
      },
      "name": "Application Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2480, 520]
    },

    {
      "parameters": {
        "functionCode": "const res = $node['Gateway Need Fallback?'].item.json.use_fallback ? ($node['Gateway Normalize Fallback Output'].item?.json || {}) : ($node['LLM Gateway Primary (Gemini)'].item?.json || {});\nreturn [{ json: { intelligence_result: res } }];"
      },
      "name": "Intelligence Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2480, 720]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "high-confidence", "leftValue": "={{ parseFloat($json.orchestrator_result.confidence_score || $json.orchestrator_result.confidence || 0) }}", "rightValue": 0.85, "operator": { "type": "number", "operation": "gte" } },
            { "id": "medium-confidence", "leftValue": "={{ parseFloat($json.orchestrator_result.confidence_score || $json.orchestrator_result.confidence || 0) }}", "rightValue": 0.7, "operator": { "type": "number", "operation": "gte" } }
          ],
          "combineOperation": "any"
        },
        "fallbackOutput": "manual-review"
      },
      "name": "Confidence Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2700, 120]
    },

    {
      "parameters": {
        "model": "={{ \"google/gemini-2.0-flash\" }}",
        "messages": {
          "values": [
            { "role": "system", "content": "Job Analyzer: produce analysis JSON with job_fit_score, required_skills, seniority, suggested_keywords, and recommended_next_steps." },
            { "role": "user", "content": "={{ JSON.stringify($json.analyzer_result || $json) }}" }
          ]
        },
        "temperature": 0.15,
        "maxTokens": 800,
        "options": { "responseFormat": { "type": "json_object" } }
      },
      "name": "🔎 Job Analyzer (LLM task)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [2920, 200],
      "credentials": { "openAiApi": { "id": "openai-credentials", "name": "openai-credentials" } }
    },

    {
      "parameters": {
        "model": "={{ \"google/gemini-2.0-flash\" }}",
        "messages": {
          "values": [
            { "role": "system", "content": "Application Agent: decide automation (auto_apply/manual) and prepare application_payload." },
            { "role": "user", "content": "={{ JSON.stringify($json.application_result || $json) }}" }
          ]
        },
        "temperature": 0.12,
        "maxTokens": 700,
        "options": { "responseFormat": { "type": "json_object" } }
      },
      "name": "🛠️ Application Agent (LLM task)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [2920, 420],
      "credentials": { "openAiApi": { "id": "openai-credentials", "name": "openai-credentials" } }
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "auto-apply", "leftValue": "={{ ($json.application_result && ($json.application_result.automation_decision || $json.application_result.automation_decision || $json.application_result.automation || '')).toString().toLowerCase().trim() }}", "rightValue": "auto_apply", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combineOperation": "any"
        },
        "fallbackOutput": "manual-review"
      },
      "name": "Application Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [3140, 420]
    },

    {
      "parameters": {
        "functionCode": "const job = $node['Batch Job Processor'].item.json;\nconst appOut = $node['🛠️ Application Agent (LLM task)'].item?.json || $node['Application Result'].item?.json || {};\nconst id = `AIAPP_${Date.now()}`;\nreturn [{ json: { application_submitted: true, application_id: id, job_title: job.title || job.job_title, company: job.company, submission_timestamp: new Date().toISOString(), method: appOut.application_payload?.method || 'auto', automation_confidence: appOut.automation_confidence || 0 } }];"
      },
      "name": "Easy Apply Automation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [3360, 420]
    },

    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": { "__rl": true, "value": "26822d2349ef803f9c35ce1768d9427e", "mode": "list" },
        "title": "={{ $('Batch Job Processor').item.json.title || $('Batch Job Processor').item.json.job_title }} - {{ $('Batch Job Processor').item.json.company }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Job title", "textValue": "={{ $('Batch Job Processor').item.json.title || $('Batch Job Processor').item.json.job_title }}" },
            { "key": "Company", "textValue": "={{ $('Batch Job Processor').item.json.company }}" },
            { "key": "Job url", "urlValue": "={{ $('Batch Job Processor').item.json.url }}" },
            { "key": "Job platform", "selectValue": "={{ $('Batch Job Processor').item.json.platform }}" },
            { "key": "Status", "selectValue": "={{ $json.application_submitted ? 'Applied (Auto)' : 'Manual Review' }}" },
            { "key": "Salary", "textValue": "={{ $('Batch Job Processor').item.json.salary || 'Not specified' }}" },
            { "key": "Priority", "selectValue": "={{ $node['Orchestrator Result'].item?.json?.orchestrator_result?.priority || 'medium' }}" },
            { "key": "Confidence Score", "numberValue": "={{ $node['Orchestrator Result'].item?.json?.orchestrator_result?.confidence_score || 0 }}" },
            { "key": "Job Fit Score", "numberValue": "={{ $node['🔎 Job Analyzer (LLM task)'].item?.json?.job_fit_score || 0 }}" },
            { "key": "Applied On", "dateValue": "={{ $json.submission_timestamp || new Date().toISOString() }}" }
          ]
        }
      },
      "name": "Applications Database Logger",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [3580, 420],
      "credentials": { "notionApi": { "id": "notion-credentials", "name": "notion-credentials" } }
    },

    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": { "__rl": true, "value": "26822d2349ef804c98fdcc9c6207bb1e", "mode": "list" },
        "title": "MANUAL REVIEW: {{ $('Batch Job Processor').item.json.title || $('Batch Job Processor').item.json.job_title }} - {{ $('Batch Job Processor').item.json.company }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Job title", "textValue": "={{ $('Batch Job Processor').item.json.title || $('Batch Job Processor').item.json.job_title }}" },
            { "key": "Company", "textValue": "={{ $('Batch Job Processor').item.json.company }}" },
            { "key": "Job url", "urlValue": "={{ $('Batch Job Processor').item.json.url }}" },
            { "key": "Job platform", "selectValue": "={{ $('Batch Job Processor').item.json.platform }}" },
            { "key": "Status", "selectValue": "Manual Review Required" },
            { "key": "Salary", "textValue": "={{ $('Batch Job Processor').item.json.salary || 'Not specified' }}" },
            { "key": "Priority", "selectValue": "={{ $node['Orchestrator Result'].item?.json?.orchestrator_result?.priority || 'low' }}" },
            { "key": "Confidence Score", "numberValue": "={{ $node['Orchestrator Result'].item?.json?.orchestrator_result?.confidence_score || 0 }}" },
            { "key": "Manual Review Reason", "textValue": "={{ $node['Orchestrator Result'].item?.json?.orchestrator_result?.notes || 'Low confidence or complex requirement' }}" }
          ]
        }
      },
      "name": "Manual Review Queue",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [3580, 540],
      "credentials": { "notionApi": { "id": "notion-credentials", "name": "notion-credentials" } }
    },

    {
      "parameters": {
        "model": "={{ \"google/gemini-2.0-flash\" }}",
        "messages": {
          "values": [
            { "role": "system", "content": "Intelligence Agent: generate session intelligence JSON (summary metrics, run stats, anomalies)." },
            { "role": "user", "content": "={{ JSON.stringify($node['Intelligence Result'].item?.json || $json) }}" }
          ]
        },
        "temperature": 0.25,
        "maxTokens": 600,
        "options": { "responseFormat": { "type": "json_object" } }
      },
      "name": "📊 Intelligence Agent (LLM task)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [3400, 640],
      "credentials": { "openAiApi": { "id": "openai-credentials", "name": "openai-credentials" } }
    },

    {
      "parameters": {
        "functionCode": "const processed = $node['Batch Job Processor'].context.itemsProcessed || 1;\nconst start = $node['Job Discovery Processor'].context.startTime || Date.now();\nconst elapsed = Math.max((Date.now()-start)/60000,1);\nconst recDelay = processed>10?15:5;\nreturn [{ json: { security_analysis: { processed, elapsed_minutes: Math.floor(elapsed), recommended_delay_seconds: recDelay } } }];"
      },
      "name": "Security Agent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [3680, 640]
    },

    { "parameters": { "amount": "={{ $node['Security Agent'].item.json.security_analysis.recommended_delay_seconds || 10 }}", "unit": "seconds" }, "name": "Smart Delay", "type": "n8n-nodes-base.wait", "typeVersion": 1, "position": [3880, 640] },

    {
      "parameters": {
        "functionCode": "const job = $node['Batch Job Processor'].item.json;\nconst outcome = $node['Easy Apply Automation']?.item?.json || {};\nreturn [{ json: { session_complete: true, job: job, outcome } }];"
      },
      "name": "Session Summary Generator",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [4080, 640]
    },

    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseStatusCode": 200,
        "responseHeaders": { "entries": [ { "name": "Content-Type", "value": "application/json" }, { "name": "X-AI-Job-Agent-Version", "value": "v3" } ] }
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [4280, 640]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [ { "leftValue": "={{ $('Batch Job Processor').context.currentRunIndex || 0 }}", "rightValue": "={{ $('Batch Job Processor').context.itemCount || 0 }}", "operator": { "type": "number", "operation": "lt" } } ],
          "combineOperation": "any",
          "options": {}
        },
        "fallbackOutput": "complete"
      },
      "name": "Batch Controller",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [4280, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [ [ { "node": "Job Discovery Processor", "type": "main", "index": 0 } ] ] },

    "Job Discovery Processor": { "main": [ [ { "node": "Batch Job Processor", "type": "main", "index": 0 } ] ] },

    "Batch Job Processor": {
      "main": [
        [ { "node": "Orchestrator Prompt", "type": "main", "index": 0 } ],
        [ { "node": "Job Analyzer Prompt", "type": "main", "index": 0 } ],
        [ { "node": "Application Prompt", "type": "main", "index": 0 } ],
        [ { "node": "Intelligence Prompt", "type": "main", "index": 0 } ]
      ]
    },

    "Orchestrator Prompt": { "main": [ [ { "node": "LLM Gateway Primary (Gemini)", "type": "main", "index": 0 } ] ] },
    "Job Analyzer Prompt": { "main": [ [ { "node": "LLM Gateway Primary (Gemini)", "type": "main", "index": 0 } ] ] },
    "Application Prompt": { "main": [ [ { "node": "LLM Gateway Primary (Gemini)", "type": "main", "index": 0 } ] ] },
    "Intelligence Prompt": { "main": [ [ { "node": "LLM Gateway Primary (Gemini)", "type": "main", "index": 0 } ] ] },

    "LLM Gateway Primary (Gemini)": {
      "main": [
        [ { "node": "Gateway Check Response", "type": "main", "index": 0 } ],
        [ { "node": "Orchestrator Result", "type": "main", "index": 0 } ],
        [ { "node": "Job Analyzer Result", "type": "main", "index": 0 } ],
        [ { "node": "Application Result", "type": "main", "index": 0 } ],
        [ { "node": "Intelligence Result", "type": "main", "index": 0 } ]
      ]
    },

    "Gateway Check Response": { "main": [ [ { "node": "Gateway Need Fallback?", "type": "main", "index": 0 } ] ] },

    "Gateway Need Fallback?": {
      "main": [
        [ { "node": "Gateway Choose Output", "type": "main", "index": 0 } ],
        [ { "node": "LLM Gateway Fallback (Llama)", "type": "main", "index": 0 } ]
      ]
    },

    "LLM Gateway Fallback (Llama)": { "main": [ [ { "node": "Gateway Normalize Fallback Output", "type": "main", "index": 0 } ] ] },

    "Gateway Normalize Fallback Output": { "main": [ [ { "node": "Gateway Choose Output", "type": "main", "index": 1 } ] ] },

    "Gateway Choose Output": {
      "main": [
        [ { "node": "Orchestrator Result", "type": "main", "index": 1 } ],
        [ { "node": "Job Analyzer Result", "type": "main", "index": 1 } ],
        [ { "node": "Application Result", "type": "main", "index": 1 } ],
        [ { "node": "Intelligence Result", "type": "main", "index": 1 } ]
      ]
    },

    "Orchestrator Result": { "main": [ [ { "node": "Confidence Router", "type": "main", "index": 0 } ], [ { "node": "🔎 Job Analyzer (LLM task)", "type": "main", "index": 0 } ] ] },

    "Confidence Router": {
      "main": [
        [ { "node": "🔎 Job Analyzer (LLM task)", "type": "main", "index": 0 } ],
        [ { "node": "🔎 Job Analyzer (LLM task)", "type": "main", "index": 0 } ],
        [ { "node": "Manual Review Queue", "type": "main", "index": 0 } ]
      ]
    },

    "🔎 Job Analyzer (LLM task)": { "main": [ [ { "node": "🛠️ Application Agent (LLM task)", "type": "main", "index": 0 } ] ] },

    "🛠️ Application Agent (LLM task)": { "main": [ [ { "node": "Application Router", "type": "main", "index": 0 } ] ] },

    "Application Router": {
      "main": [
        [ { "node": "Easy Apply Automation", "type": "main", "index": 0 } ],
        [ { "node": "Manual Review Queue", "type": "main", "index": 0 } ]
      ]
    },

    "Easy Apply Automation": { "main": [ [ { "node": "Applications Database Logger", "type": "main", "index": 0 } ] ] },

    "Applications Database Logger": { "main": [ [ { "node": "📊 Intelligence Agent (LLM task)", "type": "main", "index": 0 } ] ] },

    "Manual Review Queue": { "main": [ [ { "node": "📊 Intelligence Agent (LLM task)", "type": "main", "index": 0 } ] ] },

    "📊 Intelligence Agent (LLM task)": { "main": [ [ { "node": "Security Agent", "type": "main", "index": 0 } ] ] },

    "Security Agent": { "main": [ [ { "node": "Smart Delay", "type": "main", "index": 0 } ] ] },

    "Smart Delay": { "main": [ [ { "node": "Session Summary Generator", "type": "main", "index": 0 } ] ] },

    "Session Summary Generator": {
      "main": [
        [ { "node": "Batch Controller", "type": "main", "index": 0 } ],
        [ { "node": "Response", "type": "main", "index": 0 } ]
      ]
    },

    "Batch Controller": { "main": [ [ { "node": "Batch Job Processor", "type": "main", "index": 0 } ], [ { "node": "Response", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [ { "id": "ai-job-agent", "name": "AI Job Agent" } ],
  "versionId": "ai-job-agent-v3",
  "updatedAt": "2025-11-16T13:30:00.000Z"
}
