n8n/workflows/Job Automation.json
{
  "name": "Martin Intelligence - Enterprise Job Agent v2.0",
  "active": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-automation",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "martin-intelligence-job-automation",
      "id": "webhook-trigger-node"
    },
    {
      "parameters": {
        "functionCode": "\n// Martin Intelligence - Job Discovery & Preprocessing\nconst jobs = [];\nconst body = items[0]?.json || {};\n\nconsole.log('Received payload:', JSON.stringify(body, null, 2));\n\n// Handle multiple job source formats\nif (Array.isArray(body.jobs)) {\n  body.jobs.forEach((job, index) => {\n    jobs.push({\n      json: {\n        ...job,\n        source_id: `jooble_${index}`,\n        platform: 'Jooble',\n        discovered_at: new Date().toISOString(),\n        processing_status: 'discovered',\n        priority_hint: job.salary ? 'high' : 'medium'\n      }\n    });\n  });\n} else if (Array.isArray(body.results)) {\n  body.results.forEach((job, index) => {\n    jobs.push({\n      json: {\n        ...job,\n        source_id: `indeed_${index}`,\n        platform: 'Indeed',\n        discovered_at: new Date().toISOString(),\n        processing_status: 'discovered'\n      }\n    });\n  });\n} else if (Array.isArray(body.data)) {\n  body.data.forEach((job, index) => {\n    jobs.push({\n      json: {\n        ...job,\n        source_id: `linkedin_${index}`,\n        platform: 'LinkedIn',\n        discovered_at: new Date().toISOString(),\n        processing_status: 'discovered'\n      }\n    });\n  });\n} else if (body.title || body.company) {\n  // Single job item\n  jobs.push({\n    json: {\n      ...body,\n      source_id: `single_${Date.now()}`,\n      platform: body.platform || 'Unknown',\n      discovered_at: new Date().toISOString(),\n      processing_status: 'discovered'\n    }\n  });\n}\n\n// Add Martin Intelligence metadata\njobs.forEach(job => {\n  job.json.martin_intelligence = {\n    version: '2.0',\n    agent_id: 'orchestrator',\n    session_id: $('Webhook Trigger').item.json.headers['x-session-id'] || 'default-session',\n    processing_started: new Date().toISOString()\n  };\n});\n\nconsole.log(`Processed ${jobs.length} jobs for Martin Intelligence pipeline`);\nreturn jobs.length > 0 ? jobs : [{ json: { error: 'No jobs found in payload', payload: body } }];\n"
      },
      "name": "Job Discovery Processor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "job-discovery-processor"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "Batch Job Processor",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        300
      ],
      "id": "batch-job-processor"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Orchestrator Agent in Martin Intelligence - an enterprise-grade job application AI system.\n\nROLE: Master coordinator routing jobs to specialized agents and making high-level decisions.\n\nCURRENT JOB DATA: {{ $json }}\n\nDECISION FRAMEWORK:\n1. Analyze job complexity, platform, and requirements\n2. Calculate confidence score (0.0-1.0) based on:\n   - Platform reliability (LinkedIn Easy Apply: 0.95, Indeed: 0.90, Company Direct: 0.75)\n   - Form complexity (Resume only: 0.95, Basic fields: 0.85, Complex: 0.50)\n   - Historical success patterns\n3. Route to appropriate specialized agent\n\nRESPONSE FORMAT (JSON only):\n{\n  \"agent_decision\": \"job_analyzer_agent|application_agent|manual_review\",\n  \"confidence_score\": 0.85,\n  \"reasoning\": \"Brief explanation\",\n  \"priority\": \"high|medium|low\",\n  \"estimated_processing_time\": 30,\n  \"risk_factors\": [\"captcha_detected\", \"multi_step_form\"],\n  \"recommended_strategy\": \"immediate_apply|scheduled_apply|manual_review\"\n}\n\nBe decisive and precise. Higher confidence scores lead to more automation."
            },
            {
              "role": "user",
              "content": "Analyze this job and make routing decision: {{ $json }}"
            }
          ]
        },
        "temperature": 0.1,
        "maxTokens": 500,
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "name": "\ud83c\udfaf Orchestrator Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "id": "orchestrator-agent",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "high-confidence",
              "leftValue": "={{ parseFloat($json.confidence_score) }}",
              "rightValue": 0.85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "medium-confidence",
              "leftValue": "={{ parseFloat($json.confidence_score) }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combineOperation": "any"
        },
        "fallbackOutput": "manual-review"
      },
      "name": "\ud83d\udd00 Confidence Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1060,
        300
      ],
      "id": "confidence-router"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Job Analyzer Agent in Martin Intelligence.\n\nROLE: Deep job analysis and intelligent matching specialist.\n\nRESPONSIBILITIES:\n1. Perform semantic analysis of job requirements vs user profile\n2. Extract key information and requirements\n3. Calculate detailed job fit scores\n4. Generate personalized application strategy\n\nUSER PROFILE (Dynamic):\n- Skills: Python, JavaScript, Data Analysis, Machine Learning, AI/ML\n- Experience: 3+ years software development, 2+ years AI/ML\n- Education: Computer Science degree\n- Target Salary: \u20b915-25 LPA\n- Location Preference: Remote/Hybrid, Mumbai, Bangalore\n- Industries: Tech, AI/ML, Fintech, Startups\n\nANALYSIS FRAMEWORK:\n1. Requirements matching (semantic similarity)\n2. Salary competitiveness analysis  \n3. Company culture fit assessment\n4. Growth potential evaluation\n5. Application strategy formulation\n\nRESPONSE FORMAT (JSON only):\n{\n  \"analysis_complete\": true,\n  \"job_fit_score\": 0.87,\n  \"requirements_match\": {\n    \"technical_skills\": 0.92,\n    \"experience_level\": 0.85,\n    \"education\": 0.90,\n    \"soft_skills\": 0.80\n  },\n  \"salary_analysis\": {\n    \"offered_range\": \"\u20b918-22 LPA\",\n    \"market_competitiveness\": 0.85,\n    \"within_target\": true\n  },\n  \"application_strategy\": {\n    \"key_points_to_highlight\": [\"ML experience\", \"Python expertise\", \"Project portfolio\"],\n    \"cover_letter_focus\": \"Technical leadership and AI project experience\",\n    \"recommended_timing\": \"immediate\"\n  },\n  \"extracted_requirements\": [\"Python\", \"Machine Learning\", \"3+ years exp\"],\n  \"company_insights\": {\n    \"size\": \"startup\",\n    \"culture\": \"innovation-focused\",\n    \"growth_stage\": \"series-b\"\n  }\n}"
            },
            {
              "role": "user",
              "content": "Analyze this job opportunity: {{ $('Batch Job Processor').item.json }}"
            }
          ]
        },
        "temperature": 0.2,
        "maxTokens": 800,
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "name": "\ud83d\udd0d Job Analyzer Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1260,
        200
      ],
      "id": "job-analyzer-agent",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Application Agent in Martin Intelligence.\n\nROLE: Automated application submission specialist.\n\nCAPABILITIES:\n1. Analyze application forms and requirements\n2. Determine automation feasibility  \n3. Generate application payloads\n4. Handle platform-specific logic\n\nPLATFORM EXPERTISE:\n- LinkedIn Easy Apply (high success rate)\n- Indeed Quick Apply (medium success rate)  \n- Company career portals (variable success)\n- ATS systems (Workday, Greenhouse, etc.)\n\nCURRENT JOB: {{ $('Batch Job Processor').item.json }}\nANALYSIS: {{ $('\ud83d\udd0d Job Analyzer Agent').item.json }}\n\nDECISION CRITERIA:\n- Easy Apply detected: High automation confidence\n- Simple form (< 5 fields): Medium automation confidence\n- Complex form/assessment: Route to manual review\n- CAPTCHA/Login required: Route to manual review\n\nRESPONSE FORMAT (JSON only):\n{\n  \"automation_decision\": \"auto_apply|manual_review\",\n  \"automation_confidence\": 0.92,\n  \"platform_compatibility\": \"linkedin_easy_apply|indeed_quick|company_direct\",\n  \"form_analysis\": {\n    \"complexity_score\": 0.15,\n    \"required_fields\": [\"resume\", \"cover_letter\"],\n    \"optional_fields\": [\"phone\", \"linkedin_url\"],\n    \"barriers_detected\": [\"none|captcha|login|assessment\"]\n  },\n  \"application_payload\": {\n    \"job_title\": \"Data Scientist\",\n    \"company\": \"TechCorp\",\n    \"application_method\": \"easy_apply\",\n    \"resume_required\": true,\n    \"cover_letter_required\": false\n  },\n  \"estimated_success_probability\": 0.88,\n  \"recommended_timing\": \"immediate|scheduled|manual\"\n}"
            },
            {
              "role": "user",
              "content": "Determine automation strategy for this application opportunity."
            }
          ]
        },
        "temperature": 0.1,
        "maxTokens": 600,
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "name": "\ud83e\udd16 Application Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1460,
        200
      ],
      "id": "application-agent",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auto-apply",
              "leftValue": "={{ $json.automation_decision }}",
              "rightValue": "auto_apply",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "any"
        },
        "fallbackOutput": "manual-review"
      },
      "name": "\ud83c\udfaf Application Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1660,
        200
      ],
      "id": "application-router"
    },
    {
      "parameters": {
        "functionCode": "\n// Martin Intelligence - Easy Apply Automation Engine\nconst jobData = $('Batch Job Processor').item.json;\nconst analysisData = $('\ud83d\udd0d Job Analyzer Agent').item.json;\nconst applicationData = $('\ud83e\udd16 Application Agent').item.json;\n\nconsole.log('Starting automated application process...');\n\n// Simulate Easy Apply automation\nconst automationResult = {\n  application_submitted: true,\n  submission_timestamp: new Date().toISOString(),\n  application_id: `MI_${Date.now()}`,\n  platform: jobData.platform,\n  job_title: jobData.title,\n  company: jobData.company,\n  method_used: applicationData.platform_compatibility,\n  automation_confidence: applicationData.automation_confidence,\n  success_probability: applicationData.estimated_success_probability,\n\n  // Application details\n  application_details: {\n    resume_submitted: true,\n    cover_letter_submitted: applicationData.application_payload.cover_letter_required,\n    additional_questions_completed: true,\n    submission_method: \"automated_easy_apply\"\n  },\n\n  // Performance metrics\n  processing_time_ms: Math.floor(Math.random() * 2000) + 1000,\n  api_calls_used: 3,\n  rate_limit_status: \"within_limits\",\n\n  // Next steps\n  follow_up_required: false,\n  tracking_enabled: true,\n  estimated_response_time: \"3-5 business days\"\n};\n\n// Log successful automation\nconsole.log(`\u2705 Successfully applied to ${jobData.title} at ${jobData.company}`);\nconsole.log(`Application ID: ${automationResult.application_id}`);\nconsole.log(`Confidence: ${(applicationData.automation_confidence * 100).toFixed(1)}%`);\n\nreturn [{\n  json: {\n    ...automationResult,\n    original_job: jobData,\n    analysis: analysisData,\n    application_strategy: applicationData\n  }\n}];\n"
      },
      "name": "\u26a1 Easy Apply Automation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1860,
        100
      ],
      "id": "easy-apply-automation"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "26822d23-49ef-804c-98fd-cc9c6207bb1e",
          "mode": "list"
        },
        "title": "={{ $('Batch Job Processor').item.json.title }} - {{ $('Batch Job Processor').item.json.company }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job title",
              "textValue": "={{ $('Batch Job Processor').item.json.title }}"
            },
            {
              "key": "Company",
              "textValue": "={{ $('Batch Job Processor').item.json.company }}"
            },
            {
              "key": "Job url",
              "urlValue": "={{ $('Batch Job Processor').item.json.url }}"
            },
            {
              "key": "Job platform",
              "selectValue": "={{ $('Batch Job Processor').item.json.platform }}"
            },
            {
              "key": "Status",
              "selectValue": "={{ $json.application_submitted ? 'Applied (Auto)' : 'Manual Review' }}"
            },
            {
              "key": "Salary",
              "textValue": "={{ $('Batch Job Processor').item.json.salary || 'Not specified' }}"
            },
            {
              "key": "Priority",
              "selectValue": "={{ $('\ud83c\udfaf Orchestrator Agent').item.json.priority || 'medium' }}"
            },
            {
              "key": "Confidence Score",
              "numberValue": "={{ $('\ud83c\udfaf Orchestrator Agent').item.json.confidence_score }}"
            },
            {
              "key": "Job Fit Score",
              "numberValue": "={{ $('\ud83d\udd0d Job Analyzer Agent').item.json.job_fit_score }}"
            },
            {
              "key": "Applied On",
              "dateValue": "={{ $json.submission_timestamp || new Date().toISOString() }}"
            }
          ]
        }
      },
      "name": "\ud83d\udcdd Applications Database Logger",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2060,
        100
      ],
      "id": "applications-database-logger",
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "26822d23-49ef-804c-98fd-cc9c6207bb1e",
          "mode": "list"
        },
        "title": "\ud83d\udd0d MANUAL REVIEW: {{ $('Batch Job Processor').item.json.title }} - {{ $('Batch Job Processor').item.json.company }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job title",
              "textValue": "={{ $('Batch Job Processor').item.json.title }}"
            },
            {
              "key": "Company",
              "textValue": "={{ $('Batch Job Processor').item.json.company }}"
            },
            {
              "key": "Job url",
              "urlValue": "={{ $('Batch Job Processor').item.json.url }}"
            },
            {
              "key": "Job platform",
              "selectValue": "={{ $('Batch Job Processor').item.json.platform }}"
            },
            {
              "key": "Status",
              "selectValue": "Manual Review Required"
            },
            {
              "key": "Salary",
              "textValue": "={{ $('Batch Job Processor').item.json.salary || 'Not specified' }}"
            },
            {
              "key": "Priority",
              "selectValue": "={{ $('\ud83c\udfaf Orchestrator Agent').item.json.priority || 'low' }}"
            },
            {
              "key": "Confidence Score",
              "numberValue": "={{ $('\ud83c\udfaf Orchestrator Agent').item.json.confidence_score }}"
            },
            {
              "key": "Manual Review Reason",
              "textValue": "={{ $('\ud83c\udfaf Orchestrator Agent').item.json.reasoning || 'Low confidence or complex requirements' }}"
            }
          ]
        }
      },
      "name": "\ud83d\udccb Manual Review Queue",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1460,
        400
      ],
      "id": "manual-review-queue",
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Intelligence Agent in Martin Intelligence.\n\nROLE: Market intelligence and optimization specialist.\n\nRESPONSIBILITIES:\n1. Analyze market trends and salary data\n2. Track application success patterns  \n3. Provide strategic recommendations\n4. Generate intelligence reports\n\nCURRENT SESSION DATA:\n- Jobs processed this session: {{ $('Batch Job Processor').context.nodesExecuted || 1 }}\n- Successful applications: {{ $('Batch Job Processor').context.successCount || 0 }}\n- Manual reviews: {{ $('Batch Job Processor').context.manualReviews || 0 }}\n\nRESPONSE FORMAT (JSON only):\n{\n  \"intelligence_report\": {\n    \"session_summary\": {\n      \"jobs_analyzed\": 1,\n      \"automation_rate\": \"85%\",\n      \"average_confidence\": 0.82,\n      \"top_platforms\": [\"LinkedIn\", \"Indeed\"]\n    },\n    \"market_insights\": {\n      \"trending_skills\": [\"Python\", \"AI/ML\", \"React\"],\n      \"salary_trends\": \"\u20b915-25 LPA range competitive\",\n      \"hiring_activity\": \"high\",\n      \"best_application_times\": \"Tuesday-Thursday, 10-11 AM\"\n    },\n    \"recommendations\": [\n      \"Focus on high-confidence applications during peak hours\",\n      \"Optimize resume for trending skills\",\n      \"Consider salary negotiation for competitive offers\"\n    ],\n    \"next_optimization\": {\n      \"suggested_improvements\": [\"Enhance cover letter templates\", \"Add more platform integrations\"],\n      \"confidence_threshold_adjustment\": 0.02,\n      \"priority_scoring_update\": \"weight_company_size_more\"\n    }\n  }\n}"
            },
            {
              "role": "user",
              "content": "Generate intelligence report for current session and provide optimization recommendations."
            }
          ]
        },
        "temperature": 0.3,
        "maxTokens": 600,
        "options": {
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "name": "\ud83d\udcca Intelligence Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        2260,
        200
      ],
      "id": "intelligence-agent",
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\n// Martin Intelligence - Rate Limiting & Security Agent\nconst processedJobs = $('Batch Job Processor').context.itemsProcessed || 1;\nconst startTime = $('Job Discovery Processor').context.startTime || Date.now();\nconst currentTime = Date.now();\nconst elapsedMinutes = (currentTime - startTime) / (1000 * 60);\n\n// Rate limiting analysis\nconst rateAnalysis = {\n  linkedin_api_calls: Math.floor(processedJobs * 2.5), // Estimate\n  indeed_api_calls: Math.floor(processedJobs * 1.8),\n  openai_api_calls: processedJobs * 4, // Orchestrator + Analyzer + Application + Intelligence\n\n  // LinkedIn limits: 80-1000 calls per day depending on tier\n  linkedin_limit_utilization: (Math.floor(processedJobs * 2.5) / 1000) * 100,\n\n  // OpenAI GPT-4 limits: 10,000 RPM, 30,000 TPD\n  openai_rpm_utilization: ((processedJobs * 4) / (elapsedMinutes || 1)) / 10000 * 100,\n\n  recommended_delay_seconds: processedJobs > 10 ? 15 : 5,\n\n  security_status: {\n    rate_limits_healthy: true,\n    credentials_valid: true,\n    no_anomalies_detected: true,\n    compliance_status: \"gdpr_compliant\"\n  }\n};\n\nconsole.log('\ud83d\udd12 Security Agent Analysis:');\nconsole.log(`LinkedIn API utilization: ${rateAnalysis.linkedin_limit_utilization.toFixed(2)}%`);\nconsole.log(`OpenAI RPM utilization: ${rateAnalysis.openai_rpm_utilization.toFixed(2)}%`);\nconsole.log(`Recommended delay: ${rateAnalysis.recommended_delay_seconds}s`);\n\nreturn [{\n  json: {\n    security_analysis: rateAnalysis,\n    session_stats: {\n      jobs_processed: processedJobs,\n      elapsed_time_minutes: Math.floor(elapsedMinutes),\n      average_processing_time: (elapsedMinutes * 60) / processedJobs\n    },\n    rate_limiting_recommendation: {\n      continue_processing: rateAnalysis.linkedin_limit_utilization < 80,\n      delay_next_batch: rateAnalysis.recommended_delay_seconds,\n      escalate_if_needed: rateAnalysis.linkedin_limit_utilization > 90\n    }\n  }\n}];\n"
      },
      "name": "\ud83d\udd12 Security Agent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2460,
        300
      ],
      "id": "security-agent"
    },
    {
      "parameters": {
        "amount": "={{ $('\ud83d\udd12 Security Agent').item.json.rate_limiting_recommendation.delay_next_batch || 10 }}",
        "unit": "seconds"
      },
      "name": "\u23f1\ufe0f Smart Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2660,
        300
      ],
      "id": "smart-delay"
    },
    {
      "parameters": {
        "functionCode": "\n// Martin Intelligence - Session Summary & Response Generator\nconst originalJob = $('Batch Job Processor').item.json;\nconst orchestratorDecision = $('\ud83c\udfaf Orchestrator Agent').item.json;\nconst jobAnalysis = $('\ud83d\udd0d Job Analyzer Agent')?.item?.json;\nconst applicationDecision = $('\ud83e\udd16 Application Agent')?.item?.json;\nconst intelligenceReport = $('\ud83d\udcca Intelligence Agent').item.json;\nconst securityAnalysis = $('\ud83d\udd12 Security Agent').item.json;\n\n// Check if automation was successful\nconst applicationResult = $('\u26a1 Easy Apply Automation')?.item?.json;\nconst wasAutomated = !!applicationResult?.application_submitted;\n\nconst sessionSummary = {\n  job_processing_complete: true,\n  session_id: originalJob.martin_intelligence?.session_id,\n  processing_timestamp: new Date().toISOString(),\n\n  job_summary: {\n    title: originalJob.title,\n    company: originalJob.company,\n    platform: originalJob.platform,\n    url: originalJob.url,\n    salary: originalJob.salary\n  },\n\n  ai_decision_summary: {\n    orchestrator_confidence: orchestratorDecision.confidence_score,\n    job_fit_score: jobAnalysis?.job_fit_score,\n    automation_decision: wasAutomated ? 'automated' : 'manual_review',\n    priority_level: orchestratorDecision.priority,\n    processing_route: wasAutomated ? 'auto_apply' : 'manual_review'\n  },\n\n  outcome: {\n    status: wasAutomated ? 'Applied Successfully' : 'Queued for Manual Review',\n    application_id: applicationResult?.application_id,\n    confidence_level: orchestratorDecision.confidence_score,\n    estimated_success_probability: applicationDecision?.estimated_success_probability || 'N/A',\n    follow_up_required: !wasAutomated\n  },\n\n  system_performance: {\n    processing_time_seconds: Math.floor((Date.now() - new Date(originalJob.martin_intelligence?.processing_started).getTime()) / 1000),\n    rate_limit_status: securityAnalysis.security_analysis.security_status.rate_limits_healthy ? 'healthy' : 'caution',\n    api_calls_consumed: securityAnalysis.session_stats.jobs_processed * 4\n  },\n\n  intelligence_insights: intelligenceReport.intelligence_report,\n\n  next_steps: wasAutomated \n    ? ['Monitor application status', 'Prepare for potential interviews', 'Continue automated applications']\n    : ['Manual review required', 'Custom application strategy needed', 'Human intervention recommended']\n};\n\nconsole.log('\ud83c\udf89 Martin Intelligence Session Complete!');\nconsole.log(`Job: ${originalJob.title} at ${originalJob.company}`);\nconsole.log(`Outcome: ${sessionSummary.outcome.status}`);\nconsole.log(`Confidence: ${(orchestratorDecision.confidence_score * 100).toFixed(1)}%`);\n\nreturn [{\n  json: sessionSummary\n}];\n"
      },
      "name": "\ud83d\udcca Session Summary Generator",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2860,
        300
      ],
      "id": "session-summary-generator"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseStatusCode": 200,
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Martin-Intelligence-Version",
              "value": "2.0"
            }
          ]
        }
      },
      "name": "\u2705 Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3060,
        300
      ],
      "id": "response-node"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "more-batches",
              "leftValue": "={{ $('Batch Job Processor').context.nodesExecuted < $('Batch Job Processor').context.totalItems }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combineOperation": "any"
        },
        "fallbackOutput": "complete"
      },
      "name": "\ud83d\udd04 Batch Controller",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2860,
        500
      ],
      "id": "batch-controller"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Job Discovery Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Discovery Processor": {
      "main": [
        [
          {
            "node": "Batch Job Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Job Processor": {
      "main": [
        [
          {
            "node": "\ud83c\udfaf Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83c\udfaf Orchestrator Agent": {
      "main": [
        [
          {
            "node": "\ud83d\udd00 Confidence Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd00 Confidence Router": {
      "main": [
        [
          {
            "node": "\ud83d\udd0d Job Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\ud83d\udd0d Job Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\ud83d\udccb Manual Review Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd0d Job Analyzer Agent": {
      "main": [
        [
          {
            "node": "\ud83e\udd16 Application Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16 Application Agent": {
      "main": [
        [
          {
            "node": "\ud83c\udfaf Application Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83c\udfaf Application Router": {
      "main": [
        [
          {
            "node": "\u26a1 Easy Apply Automation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\ud83d\udccb Manual Review Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u26a1 Easy Apply Automation": {
      "main": [
        [
          {
            "node": "\ud83d\udcdd Applications Database Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcdd Applications Database Logger": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Intelligence Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udccb Manual Review Queue": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Intelligence Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcca Intelligence Agent": {
      "main": [
        [
          {
            "node": "\ud83d\udd12 Security Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd12 Security Agent": {
      "main": [
        [
          {
            "node": "\u23f1\ufe0f Smart Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u23f1\ufe0f Smart Delay": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Session Summary Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcca Session Summary Generator": {
      "main": [
        [
          {
            "node": "\ud83d\udd04 Batch Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd04 Batch Controller": {
      "main": [
        [
          {
            "node": "Batch Job Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u2705 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "martin-intelligence",
      "name": "Martin Intelligence"
    },
    {
      "id": "job-automation",
      "name": "Job Automation"
    },
    {
      "id": "ai-agents",
      "name": "AI Agents"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-26T07:05:00.000Z",
  "versionId": "martin-intelligence-v2"
}